.legendContainer {
    width: 862px;
    height: 50px;
    float: bottom;
    margin: auto;
}

.valuesContainer {
    width: 862px;
    height: 10px;
    float: bottom;
    margin: auto;
}
.valueContainer{
    width: 30%;
    height: 50px;
    float: left;
    position:relative;
    background-color: white;
    text-align: center;
}

.indicatorCheckBoxContainer{
    width: 40%;
    height: 50px;
    float: left;
    position:relative;
    text-align: center;
}

.value{
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}

.original{
    background-color: lightblue;
}

.new{
    background-color: lightgreen;
}

.factorValue{
    background-color: lightpink;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}

.facebook{
    border-width: 10px;
    border-color: black;
}

.topLabel{
    width: 61px;
    height: 50px;
    float: left;
}

.legendNames{
    width: 700px;
    height: 50px;
    float: left;
    text-align: center;
}

#labels {
    width: 61px;
    height: 270px;
    float:left;
    text-align: right;
    padding-right: 10px;
}

#topLabel{
    vertical-align: top;
}

#bottomLabel{
    line-height: 485px;
}

#container {
    width: 862px;
    height: 272px;
    margin: auto;
}

.factorContainer{
    width: 862px;
    height: 50px;
    float: top;
    margin: auto;
}

.indicationContainer{
    width: 862px;
    height: 20px;
    float: bottom;
    margin: auto;
}

.indicationBox{
    width: 50%;
    height: 20px;
    float: left;
    position:relative;
    background-color: white;
    text-align: center;
}

.factorBox{
    width: 50%;
    height: 50px;
    float: left;
    position:relative;
    background-color: white;
    text-align: center;
}
.draggable 
{
    position: relative;
    left: 50%;
}

.labelBottom{
    width: 61px;
    height: 50px;
    float: left;
}

.labelTop{
    width: 61px;
    height: 20px;
    float: left; 
}

.saveButtonBOSC{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.indicationNames{
    width: 700px;
    height: 20px;
    float: left;
}

.factorsNames{
    width: 700px;
    height: 50px;
    float: left;
}


#factors{
    width: 700px;
    border: 1px solid black;
    height: 270px;
    float: left;
    overflow: hidden;
}

.box
{
    width:50%;
    height:100%;
    float:left;
}

.boxEven {
    background:lightgray;
    
}

.boxOdd{
    background:#fcfdff;
}

#addBox
{
    width:100px;
    height:270px;
    float:right;
    background:#e0e0e0;
    position: relative;
    cursor: hand;
}


#addLogo{
    margin: 0;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.dotA{
    color: blue;
    position:relative;
    z-index: 200;
}

.dotB{
    color: green;
    position:relative;
    z-index: 200;
}

.dotBottom{
    position:relative;
    top: 228px;
}

.line {
     position: absolute;
    width: 3px;
    z-index: 100;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.lineA {
    background-color: blue;
}

.lineB {
    background-color: green;
}

#sortable{
    margin: 0;
    padding: 0;
    
}
.canvasBottom {
    //visibility: hidden;
    position:relative;
    z-index: 200;
}